<div class="row-footer col-xs-12">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-5">
                <h5>Our Address</h5>
                <address>
                    Ringelbloom 1<br>
                    Beer-Sheva, Israel<br>
                    4972006<br>
                    <i class="fa fa-phone"></i>: +972 54 6241202<br>
                    <i class="fa fa-fax"></i>: +972 54 6241200<br>
                    <i class="fa fa-envelope"></i>: <a href="mailto:whosaid@gmail.com">whosaid@gmail.com</a>
                </address>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="nav navbar-nav" style="padding: 30px 10px;">

                    <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+" ><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    <p style="padding:25px;"></p>
                    <p align=right>© Copyright 2016 WhoSaid?</p>
                </div>
            </div>
        </div>
    </div>
</div>
